/*.body{*/
/*  width:100%;*/
/*  font-size: 18px;*/
/*  color:black;*/
/*}*/

/*.text-light{*/
/*  color:white;*/
/*}*/

/*main{*/
/*  display:flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  width: min(90%, 1280px);*/
/*  justify-content: center;*/
/*  margin-inline:auto;*/
/*  padding: 20px 0;*/
/*}*/

/*form{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 15px;*/
/*}*/
/*form input{*/
/*  padding: 12px 20px;*/
/*  border-radius: 15px;*/
/*  border: 1px solid #ccc;*/
/*  border-right: 0;*/
/*  border-top: 0;*/
/*  outline: none;*/
/*}*/

/*form input:focus{*/
/*  transition: .35s ease-in-out;*/
/*  border: 1px solid #001f3f;*/
/*  border-right: 0;*/
/*  border-top:0;*/
/*  !*transition: outline-color 0.3s;*!*/
/*  !*outline-color: #333;*!*/
/*  !*outline: 1px;*!*/
/*}*/

/*ul{*/
/*  list-style-type: none;*/
/*  display:flex;*/
/*  gap: 10px;*/
/*}*/

/*a{*/
/*  text-decoration: none;*/
/*  color:black;*/
/*}*/

/*button {*/
/*  padding: 10px;*/
/*  font-size: 20px;*/
/*  border-radius: 15px;*/
/*  border: none;*/
/*  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
/*}*/

/*header{*/
/*  width:100%;*/
/*  display:flex;*/
/*  justify-content: space-evenly;*/
/*  background: #333;*/
/*}*/

/*footer{*/
/*  width: 100%;*/
/*  display:flex;*/
/*  justify-content: space-evenly;*/
/*  background: #333;*/
/*}*/



/*#map{*/
/*  position:absolute;*/
/*}*/


.App {
  text-align: center;
}



.footer{
  width:100%;
  padding: 10px 0;
  background: #282c34;
  color: white;
  display:flex;
  justify-content: space-around;
}

.header{
  background: #282c34;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  color:white;
}
.header ul{
  /*text-decoration: none;*/
  list-style-type: none;
  display:flex;
}
.header ul a{
  padding: 10px;
  margin:15px;
  text-decoration: none;
  color:white;
}

p{
  margin:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
