body{
    overflow: auto;
    height: 100vh;
}
header{
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}
.flexcol{
    display:flex;
    flex-direction: column;
}
.flex{
    margin-inline: auto;
    display:flex;
    width: 90%;
    gap: 25px;
    flex:1;
}

.flex img{
    width:50%;
    border-radius: 15px;
}
.flex p{
    width:50%;
    font-size: 1.75rem;
    text-align: justify;
}