.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.flex{
    display:flex;
}
.small-img{
    border-radius: 50%;
}
.small-img img {
    width:25px;
    height:25px;
    border-radius: 50%;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1b1b38;
}
.background{
    position: absolute;
    width:100vh;
    height:100vh;
    background: url(../media/background_earth.png);
    filter: blur(6px);
    transition: 4s;
    background-size: 2000px;
    border-radius: 50%;
    box-shadow: inset 8px 36px 80px 36px rgb(0, 0, 0), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    animation-name: rotate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes rotate {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 2000px 0px;
    }
}
@-webkit-keyframes rotate {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 2000px 0px;
    }
}

.login-form form, h2, button{
    z-index: 2;
}

.login-form h2{
    font-size: 4rem;
    color: white;
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.4);
}

.login-form form{
    width: 25%;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.login-form input {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
}
.login-form label{
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form input::placeholder{
    text-align: center;
    font-size: 1rem;
}

.login-form form button{
    width:50%;
    margin-inline: auto;
}

.login-form button {
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #323259;
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}