/*login*/
body{
    overflow: hidden;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.login-form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}
.flex{
    margin-inline: auto;
    justify-content: center;
    align-content: center;
    display:flex;
    gap:10px;
}
.login-form .small-img{
    width: 50px;
    height: 50px;
    padding:0;
    margin:0;
    border-radius: 50%;
}
.login-form .small-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    height: 100vh;
    background: #13132b;
}
.login-form h1{
    margin:0;
    color:white;
    font-size: 4.5rem;
    font-weight: bolder;
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.4);
}
.space{
    z-index: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -15vw -13vh 3px 1px #fff,32vw -15vh 0px 3px #fff,-34vw 7vh 1px 0px #fff,-33vw -8vh 1px 1px #fff,38vw 22vh 2px 0px #fff,-18vw -27vh 1px 0px #fff,-22vw 28vh 1px 0px #fff,16vw -22vh 1px 3px #fff,2vw 47vh 2px 2px #fff,-21vw 37vh 0px 1px #fff,35vw -28vh 2px 0px #fff,3vw -47vh 2px 2px #fff,-22vw 43vh 1px 1px #fff,-23vw -6vh 3px 0px #fff,-1vw 32vh 1px 2px #fff,-45vw 31vh 0px 3px #fff,-46vw -1vh 1px 2px #fff,12vw -48vh 0px 3px #fff,-2vw 20vh 3px 2px #fff,-21vw 13vh 1px 0px #fff,40vw -38vh 3px 2px #fff,-20vw 3vh 2px 3px #fff,9vw 17vh 1px 2px #fff,-34vw -27vh 3px 0px #fff,-46vw 37vh 2px 0px #fff,-34vw -8vh 2px 1px #fff,-34vw -9vh 3px 3px #fff,-14vw -50vh 3px 2px #fff,41vw -40vh 1px 3px #fff,3vw -42vh 0px 0px #fff,-27vw -1vh 1px 0px #fff,-32vw 39vh 1px 1px #fff,-42vw 23vh 1px 3px #fff,24vw 2vh 3px 0px #fff,45vw 23vh 3px 0px #fff,-11vw -46vh 1px 2px #fff,-14vw -33vh 2px 3px #fff,-38vw 41vh 3px 2px #fff,7vw -48vh 3px 1px #fff,-42vw 32vh 3px 1px #fff,23vw -17vh 0px 2px #fff,37vw -40vh 0px 3px #fff,37vw 48vh 3px 2px #fff,44vw -27vh 1px 0px #fff,-2vw 31vh 2px 3px #fff,7vw -14vh 0px 1px #fff,38vw 16vh 0px 1px #fff,-41vw -47vh 0px 1px #fff,-49vw 6vh 1px 1px #fff,-37vw 24vh 3px 0px #fff,-35vw 8vh 2px 0px #fff,-29vw 8vh 1px 0px #fff,28vw 31vh 2px 3px #fff,29vw -3vh 0px 1px #fff,-16vw 8vh 0px 2px #fff,-27vw 9vh 1px 1px #fff,-44vw 0vh 3px 3px #fff,-16vw 23vh 3px 0px #fff,-17vw -10vh 0px 2px #fff,31vw 16vh 1px 1px #fff,36vw -41vh 2px 0px #fff,-46vw -24vh 3px 0px #fff,-9vw 10vh 0px 1px #fff,46vw -34vh 0px 3px #fff,-2vw 28vh 3px 2px #fff,-21vw -34vh 3px 0px #fff,6vw 36vh 1px 1px #fff,-18vw 14vh 1px 3px #fff,4vw 45vh 0px 1px #fff,-8vw 43vh 3px 2px #fff,-43vw 36vh 2px 3px #fff,32vw -41vh 0px 1px #fff,-47vw -43vh 3px 2px #fff,7vw -43vh 3px 3px #fff,2vw -4vh 0px 2px #fff,34vw -11vh 1px 0px #fff,-45vw 0vh 0px 2px #fff,-49vw -11vh 0px 0px #fff,40vw -32vh 1px 2px #fff,4vw 12vh 1px 3px #fff,-7vw 15vh 2px 2px #fff,19vw -31vh 1px 2px #fff,-32vw -34vh 0px 1px #fff,-5vw 6vh 2px 1px #fff,-11vw -41vh 1px 1px #fff,4vw -30vh 3px 1px #fff,-47vw -21vh 2px 2px #fff,-49vw -34vh 3px 3px #fff,22vw -17vh 1px 2px #fff,-39vw 5vh 0px 1px #fff,-50vw 40vh 3px 0px #fff,-1vw 43vh 2px 2px #fff,-14vw -31vh 1px 0px #fff,-21vw 5vh 1px 2px #fff,50vw 38vh 2px 0px #fff,46vw -29vh 3px 2px #fff,-39vw -16vh 2px 3px #fff,-12vw -27vh 3px 1px #fff,10vw 10vh 2px 3px #fff,10vw -40vh 3px 3px #fff;
    animation: zoom 40s alternate infinite;
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}
.error-message{
    z-index: 10;
    position: absolute;
    right:10px;
    top:20px;
    color: #700940;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    background-color: #ceceeb;
    transform: translateX(110%);
    transition: 0.4s ease-in-out;
}
.background{
    z-index: 2;
    position: absolute;
    width:100vh;
    height:100vh;
    background: url(../media/canvas.png);
    filter: blur(6px) brightness(70%);
    transition: 4s;
    background-size: 2000px;
    border-radius: 50%;
    box-shadow: inset 8px 36px 80px 36px rgb(0, 0, 0), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    animation-name: rotate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.login-form form, h2, button{
    z-index: 2;
}

.login-form h2{
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.4);
}

.login-form form{
    width: 25%;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.login-form input {
    margin: 10px;
    font-size: 1rem;
    text-align: center;
    background: #faf7ff;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    transition: .35s ease-in-out;

}
.login-form input:focus{
    outline:none;
    border: 1px solid #001f3f;
    border-right: 0;
    border-top: 0;
    transition: .35s ease-in-out;
}
.login-form label{
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form input::placeholder{
    text-align: center;
    font-size: 1rem;
}
.login-form input:-webkit-autofill{
    font-size: 1rem;
    background: #faf7ff;
    text-align: center;
}

.login-form form button{
    width:50%;
    margin-inline: auto;
}

.login-form .flex button{
    width:auto;
}

.login-form button {
    margin: 10px;
    padding: 10px;
    max-height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #323259;
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}


/*login end*/

.music{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../media/music.jpg);
}
.theatre{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../media/theatre.jpg);
}
.hiking{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../media/hiking.jpg);
}
.sport{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../media/sport.jpg);
}
.museum{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../media/museum.jpg);
}
.videogames{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../media/videogames.jpg);
}
.art{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../media/art.jpg);
}
.films{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../media/films.jpg);
}
.sightseeing{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../media/sightseeing.jpg);
}
.clubbing{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../media/clubbing.jpg);
}




/*logged*/

.main-screen{
    width: 100%;
    height: 100vh;
    background: white;
}

.small-info{
    z-index: 2;
    display:flex;
    gap:15px;
    flex-direction: column;
    width: 30%;
    height:100vh;
    background: #1b1b38;
    justify-content: center;
    align-content: center;
    align-items: center;
    color:white;
    transition: 0.3s ease-in-out;
}
.list_activities{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.list_activities li{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    gap:10px;
}


.descr{
    width: 90%;
    text-align: center;
    font-size:1.25rem;
}
.buttons{
    width:100%;
    display:flex;
    justify-content: space-evenly;
}
.small-info button{
    width:35%;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #323259;
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.3);
    color:white;
    cursor: pointer;
    transition: 0.3s;
}
.small-info button:hover{
    background-color: #29157a;
}
.hidden{
    display: none;
}

.header-nav{
    display:flex;
    float:right;
    gap: 10px;
}

/*logged end*/


/*chooseactivities*/

.content-activities{
    background: #1b1b38;
    color:white;
    height: 100vh;
}

button{
    transition: 0.3s;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #323259;
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #29157a;
}

h2{
    color:white;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding: 25px;
}
.fav-entertainments{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    width:100%;
    justify-content: center;
}
.box{
    border-radius: 15px;
    width:19%;
    max-height:300px;
    height:30vh;
    color:white;
    font-size: 3rem;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*gap: 5px;*/
    background-position: center center;
    background-size:cover;
}

.box input{
    order:1;
}

.darken {
    transition: 0.3s ease-in-out;
    filter: brightness(60%);
}


input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 0.65em;
    height: 0.65em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.45em;
    height: 0.45em;
    transform: scale(0);
    transition: 0.1s transform ease-in-out;
    box-shadow: inset 1em 1em darkmagenta;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/*chooseactivities end*/




/* info start */

header{
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}
.flexcol{
    display:flex;
    flex-direction: column;
}
.flex-info{
    margin-inline: auto;
    display:flex;
    width: 90%;
    gap: 25px;
    flex:1;
}

.flex-info img{
    width:50%;
    border-radius: 15px;
    max-height: 80vh;
    min-height: 300px;
    object-fit: cover;
}
.flex-info div{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    font-size: 1.75rem;
    text-align: justify;
}
.flex-info div p{
    width: 70%;
    margin-inline:auto;
}



/*info end*/


/*profile start*/

.profile-page {
    background: #13132b;
    height:100vh;
    color:white;
    display: flex;
    justify-content: space-evenly;
    gap:15px;
}
.logout{
    position: absolute;
    top:20px;
    right:50px;
}
.profile-info{
    width:40%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.profile-regions-list{
    width: 27.5%;
    display:flex;
    margin: auto;
    justify-content: center;
}
.profile-regions-list h3{
    font-size: 3rem;
    font-weight: bold;
}
.profile-regions-list ul{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.profile-review{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 27.5%;
}
.profile-review button{
    font-size: 2rem;
    padding: 25px;
}

.profile-page img {
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    height: 30vh;
    width: 30vh;
    object-fit: cover;
    border-radius: 50%;
    margin-top:100px;
}

.profile-bio {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.profile-bio textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-actions label {
    display:flex;
    align-items: center;
    gap:10px;
    margin-bottom: 10px;
}

.profile-actions input[type="file"] {
    display: none;
}


.profile-container{
    
  display: flex;
  flex-direction: row;

}

/*profile end*/





/*Animations*/
@keyframes rotate {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 2000px 0px;
    }
}
@-webkit-keyframes rotate {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 2000px 0px;
    }
}